body {
	background: linear-gradient(#fefefe,#0A3871);
	padding-left: 10%;
	padding-right: 10%;
}

header img {

	margin-top: 2.5rem;
}

#DigitaTexto {

	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 20rem;
	width: 15rem;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	font-family: 'inter';
	color: #0A3871;
	border-radius: 25px;
	resize: none;
	border: 2px solid white;

}

textarea:hover {
	border: 2px solid #0A3871;
	color: #0A3871;
}

textarea::placeholder {
  color: #0A3871;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

.botao {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.botaoAzul, .botaoCopiar {
	margin-bottom: 1rem;	
	height: 60px;
	background: #0A3871;
	color: white;
	border-radius: 24px;


	font-family: 'inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	border: 2px solid #0A3871;
}

.botaoAzul:hover {
	scale: 110%;
	font-weight: bold;
}

.botaoBranco:hover, .botaoCopiar:hover {
	scale: 110%;
	font-weight: bold;
}

.botaoBranco {

	height: 59px;
	border-radius: 24px;
	color: #0A3871;
	background: white;

	font-family: 'inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	border: 2px solid white;
}

.vetor {
	filter: invert(70%);
	background-image: url(../challenge/vetor.png);
	background-repeat: no-repeat;
}

.aviso {
	margin-bottom: .5rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: .8rem;
	line-height: 150%;
	color: white;
	text-align: center;
}

.botaoCopiar {
	display: none;
	width: 100%;
	border: 1px solid #0A3871;
}

.conteudo-principal {
	margin: 0 auto;
	width: 250px;
	display: flex;
	flex-direction: column;
}

.caixa {
	display: none;
	margin-right: 2.5rem;
	width: 10rem;
	height: 600px;
	margin: 40px;
}

.avatar {
	display: none;
	width: 10rem;
	height: 304px;

}

.descripto {
	position: relative;
}

div textarea {

	width: 15.5rem;
	min-height: 10rem;
	margin-bottom: 2rem;
	color: #0A3871;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	font-family: 'inter';
	border-radius: 25px;
	border: none;
}

.aviso-mensagem {
	margin-bottom: .5rem;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
}

.mensagem-descripto {
	position: absolute;
	top: 23px;
	left: .5px;
	padding: 0 1rem;
}

.frase {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}

.nome {
	margin: 0 auto;
}

footer {
	text-align: center;
	color: white;
	margin-bottom: 2rem;
}

footer img {
	height: 1rem;
	margin-bottom: .5rem;
}

/*Para mobile*/

@media screen and (max-width:480px){
	textarea, .caixa {
		
	} 
	.botaoBranco, .botaoAzul, .botaoCopiar {


		
	}
}