body {
	background: linear-gradient(#fefefe,#0A3871)fixed;
}

header img {
	position: absolute;
	left: 40px;
	top: 50px;
}

fieldset textarea {
	position: absolute;
	display: inline-block;
	left: 170px;
	top: 140px;
	width: 640px;
	max-height: 300px;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	font-family: 'inter';
	color: #0A3871;
	border-radius: 25px;
	resize: none;
	border: 2px solid white;
}

textarea:hover {
	border: 2px solid #0A3871;
}

textarea::placeholder {
  color: #0A3871;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

.caixa {
	position: absolute;
	left: 900px;
	width: 400px;
	height: 600px;
	margin: 40px;
}

.avatar {
	position: absolute;
	width: 336px;
	height: 304px;
	left: 970px;
	top: 100px;
}

.vetor {
	position: absolute;
	top: 520px;
	left: 200px;
}

main p {
	width: 228px;
	top: 520px;
	left: 220px;
	height: 18px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: white;
	opacity: 0.8;
	position: absolute;
}

div textarea {
	position: absolute;
	width: 336px;
	height: 304px;
	left: 970px;
	top: 100px;
	color: #0A3871;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	font-family: 'inter';
	border-radius: 25px;
	border: none;
}

div h2 {
	position: absolute;
	left: 970px;
	top: 420px;
	width: 336px;
	height: 58px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
}

div p {
	position: absolute;
	left: 970px;
	top: 480px;
	width: 336px;
	height: 48px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}
.botaoAzul, .botaoCopiar{
	width: 300px;
	height: 60px;
	background: #0A3871;
	color: white;
	border-radius: 24px;
	position: absolute;
	top: 545px;
	font-family: 'inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	left: 180px;
	border: 2px solid #0A3871;
}

.botaoAzul:hover {
	scale: 110%;
	font-weight: bold;
}

.botaoBranco:hover, .botaoCopiar:hover {
	scale: 110%;
	font-weight: bold;
}

.botaoBranco {
	margin: 0 20px;
	width: 300px;
	height: 59px;
	border-radius: 24px;
	color: #0A3871;
	background: white;
	position: absolute;
	top: 545px;
	left: 490px;
	font-family: 'inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	border: 2px solid white;
}

.botaoCopiar {
	left: 990px;
	border: 1px solid #0A3871;
}

div .botaoBranco {
	left: 1060px;
	margin: 0px;
}

footer {
	padding: 40px 0;
	text-align: center;
	top: 600px;
	position: relative;
}

footer img {
	height: 25px;
}

footer p {
	top: 80px;
	left: 560px;
}